$red: #AA0000;
$color-bg: #ECECEC;
$color-main: #909090;
$color-sub: #CECECE;
$color-font-main: #232323;
//
$color-btn-bg: #ACACAC;
$color-btn-text: #333333;
//
$color-notice_box-bg: #CACACA;
//
$color-hit_s0: rgba(0,0,0,0.1);
$color-hit_s1: rgba(0,0,0,0.2);
$color-hit_s2: rgba(0,0,0,0.1);
$color-hit_s3: rgba(235,235,30,0.3);
$color-hit_s4: rgba(0,0,0,0.1);
$color-hit_s5: rgba(0,0,0,0.2);
$color-hit_s6: rgba(235,235,30,0.3);
$color-hit_s7: rgba(0,0,0,0.2);
$color-hit_s8: rgba(0,0,0,0.1);
$color-hit_s9: rgba(0,0,0,0.2);
