#edgApp{
  .client{
    .app_section_content{
      position: relative;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
      justify-content: space-between;
    }
    &__item{
      position: relative;
      left: 82.5px;
      display: inline-flex;
      transform: translate(-50%, -50%);
 transform-style: preserve-3d;
 transform: translate(-50%, -50%) perspective(600px) rotateY(20deg) rotateX(10deg);
      &__img{
        width: 165px;
        height: auto;
        display:block;
      }
    }
  }
}
