#edgApp {
  .contact {
    .app_section_content{
      position: relative;
    }
    padding: 25px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    &__title{

    }
    &__map{
      width: 100%;
      height: 30vw;
      display: block;
      margin-bottom:10px;
      iframe{
        width: 100%;
        height: 100%;
      }
    }
    &__input{
      width: 100%;
      background: #EAEAEA;
      color: #000;
      border: none;
      border-radius: 3px;
      padding: 10px;
      margin: 5px 0;
      font-size: 16px;
      &:focus{
        border: none;
        outline: 2px solid $mainColor;
      }
    }
    &__question-type{
      position: relative;
      display: block;
      &:before{
        cursor: pointer;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        content: "";
      }
    }
    &__button{
      width: 100%;
      display: block;
      border: 1px solid #666;
      text-align: center;
      padding: 10px;
      margin: 5px 0;
      border-radius: 3px;
      color:#000;
    }
  }
}
