@import "../helper/mixin";

.hidePad{
  display: none !important;
}
@media (min-width: 1024px){
  .hidePad{
    display: block !important;
  }
}

.app {
  overflow: hidden;

  &_nav {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 99;
  }

  &_content {
    position: relative;
    width: 100%;
  }
}


.app_section {
  position: relative;
  width: 100%;
  min-height: 100vh;

  &_trigger {
    position: relative;
    width: 5px;
    background: rgb(34, 193, 195);
    background: linear-gradient(180deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .trigger {
      width: 100%;
      height: 100vh;
    }
  }

  &_content {
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 60px;
    overflow: hidden;
  }

}

.app_container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  &.container_w1920 {
    position: relative;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    @include break-point(desktop) {
      width: 1920px;
    }
  }

}


.guide_range {
  border: 1px solid red;

  &-green {
    border: 1px solid green;
  }
}

.message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform ease-out 0.5s;
  transform-origin: center center;

  &.animation_1 {
    transform: translate(-50%, -50%) scale(3);
  }

  &.animation_2 {
    transform: translate(-50%, -50%) scale(0.5);
  }

  &.animation_3 {
    transform: translate(-50%, -50%) scale(1);
  }
}
