@import "../helper/mixin";

.kv {


  &_bgColor {
    @include aspect-ratio(1920, 1320);
    position: relative;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: contain;
  }

}
