#edgApp {
  .service {
    .app_section_content{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
    }
    &__item {
      width: 400px;
      &.item--1 {
        width: 400px;
        .st0 {
          opacity: 0.8;
          fill: #F8C432;
        }

        .st1 {
          fill: none;
          stroke: #3E3A39;
          stroke-width: 1.1;
          stroke-miterlimit: 10;
        }

        .st2 {
          font-weight: bold;
        }

        .st3 {
          font-size: 56px;
        }

        .st4 {
          letter-spacing: 1;
        }

        .st5 {
          font-weight: 300;
        }

        .st6 {
          font-size: 25.14px;
        }

        .st7 {
          fill: #3E3A39;
        }

        .st8 {
          font-weight: 500;
        }

        .st9 {
          font-size: 20px;
        }
      }
    }
  }
}
