@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	font-family:'微軟正黑體', '儷中黑';
	background:#313435;
	color:#FFFFFF;
}
#wrap{
	position:relative;
	width:100%;
	height:100%;
	overslow:hidden;
}

.form{
	position:relative;
	width:100%;
	text-align:center;
}
.form h1{
	text-align:center;	
	margin-bottom:0;
}
.desktop .form h1{
	font-size:25px;
}
.mobile .form h1{
	font-size:1.5em;/*1.5625em*/
	padding:1em;
}
.desktop .form h5{
	text-align:center;
	margin:0;
}
.mobile .form h5{
	text-align:center;
	margin:0;
	padding:0 1em;
}
.form1{
	/*display:none;*/
}
.desktop .form1{
	padding-top:50px;	
}
.mobile .form1{
	padding-top:0;	
}
.form label{	
	font-weight:bold;
}
.desktop .form label{
	font-size:18px;	
	line-height:30px;
}
.mobile .form label{
	font-size:1.2em;	
	line-height:1.6em;
}
.form1 input{	
	border:1px solid #666666;	
	font-family:'微軟正黑體', '儷中黑';
	text-align:center;
}
.desktop .form1 input{
	width:250px;
	height:30px;
	line-height:30px;
	font-size:18px;	
}
.mobile .form1 input{
	width:80%;
	height:2em;
	line-height:2em;
	font-size:1em;	
}
#form2{
	display:none;/**/
}
#chartContainer{
	position:relative;
	margin:0 auto;
}

#legend{
	
}
.buttons{
	
}
.desktop .buttons{
	padding-top:5px;	
}
.mobile .buttons{
	padding-top:5px;	
}
button{	
	font-family:'微軟正黑體', '儷中黑';	
}
.desktop button{
	padding:2px 15px;
	margin:0 5px;	
	font-size:18px;
}
.mobile button{
	padding:2px 15px;
	margin:0 5px;	
	font-size:1em;	
}