@charset "utf-8";
/* CSS Document */
#main{
	position:relative;
	margin:0 auto;
	width:100%;
}
@media (min-width: 1172px) {
	#main{
		position:relative;
		margin:0 auto;		
		width:1172px;
	}
}

.head{
	border-bottom:1px solid #dadada;
	margin-top:30px;
	min-height:110px;
}
.head > div{
	display:block;
	vertical-align:top;
	width:100%;
	text-align:center;
}
.head > div:first-child{
	float:none;
}

.head > div > h1{
	font-size:37px;
	color:#80b539;
	margin:3px 0 0 0;	
	padding:0 0 15px 15px;
}
.desktop .head > div > h1{
	font-size:37px;	
	margin:3px 0 0 0;	
	padding:0 0 15px 15px;
}
.mobile .head > div > h1{
	font-size:2.5em;	
	margin:1em 0 0 0;	
	padding:1em 0;
}
@media (min-width: 1140px) {
	.desktop .head > div > h1{
		font-size:37px;
		color:#80b539;
		margin:3px 0 0 0;
		padding:0;
	}
}
.desktop .head > div.select{
	float:none;
	margin-right:0;
	
}
.mobile .head > div.select{
	float:none;
	margin:0 0 1em 0;
}
@media (min-width: 992px) {		
	.head{
		border-bottom:1px solid #dadada;
		margin-top:79px;
		min-height:62px;
	}
	.head > div{
		display:inline-block;
		vertical-align:top;
		width:auto;
	}
	.head > div:first-child{
		float:left;
	}
	.head > div > h1{
		font-size:37px;
		color:#80b539;
		margin:3px 0 0 0;	
		padding:0 0 0 15px;
	}
	.desktop .head > div.select{
		float:right;
		margin-right:1.7%;
	}
	.mobile .head > div.select{
		float:right;
		margin-right:1.7%;
	}
}
.head > div.select > div{
	display:inline-block;
	vertical-align:top;
	margin-left:5px;
}
.desktop .head > div.select > div{
	
}
.mobile .head > div.select > div{
	margin:0.5em 0;
}
.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 17px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   color:#80b539;
   outline:0px;
}

.styled-select {
   width: 250px;
   height: 43px;
   line-height:43px;
   overflow: hidden;
   background:url('../images/icons/icon_arrow.png') no-repeat right;
   border: 1px solid #80b539;
   -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.desktop #mapWrap{
	position:relative;
	width:100%;
	margin:0 auto;
	height:auto;
	margin:33px auto 67px auto;
	background:#dddddd;
}
.mobile #mapWrap{
	position:relative;
	width:100%;
	margin:0 auto;
	height:auto;
	margin:1em auto 1em auto;
	background:#dddddd;
}
@media (min-width: 1140px) {
	.desktop #mapWrap{
		position:relative;
		width:1140px;
		height:720px;
		margin:33px auto 67px auto;	
	}
}
#mapWrap > div{
	display:inline-block;
	vertical-align:top;
	margin-right:-4px;
}
#map{
	position:relative;
	width:100%;/*760/1140*/
	height:500px;
}
#map-canvas{
	width:100%;
	height:100%;
}
#mapdetail { background:#80B539; z-index:999; position:absolute; width:60%; padding:25px 30px; top:20%; left:20%}
#mapdetail h3{ color:#FFFFFF; font-size:18px; margin-top:0}
#mapdetail dt{ color:#5F5F60;}
#mapdetail .opentime{ color:#5F5F60;}
#mapdetail a{ color:#5F5F60}
#mapdetail img{border: 0 none;display: block;height: auto;max-width: 100%;}
#mapdetail .closebtn a{ width:30px; height:30px; background:#CCCCCC; z-index:999; position:absolute; right:0; top:-30px; color:#5F5F60; display:block; font-size:20px;text-decoration:none;}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\2716";
}
.desktop #lsWrap{
	position:relative;
	width:100%;/*380/1140*/
	height:360px;
}
.mobile #lsWrap{
	position:relative;
	width:100%;
	
}
@media (min-width: 992px) {
	#mapWrap{
		position:relative;
		width:100%;
		margin:0 auto;
		height:720px;
		margin:33px auto 67px auto;
	}
	#map{
		position:relative;
		width:66.66666666666667%;/*760/1140*/
		height:720px;
	}
	.desktop #lsWrap{
		position:relative;
		width:33.33333333333333%;/*380/1140*/
		height:720px;
	}
}
#ls{
	position:relative;
	width:100%;
}
.item{
	position:relative;
	width:100%;
	padding:18px 20px;
	border-bottom:1px solid #cccccc;
	background:#dddddd;
}
.item h4{
	color:#7f7f7f;
	font-weight:bold;
	font-size:18px;
}
.item .address{
	font-weight:bold;
	font-size:15px;
}
.item a{
	color:#000000;
	font-weight:bold;
	text-decoration:none;
	font-size:15px;
}

.mCSB_inside > .mCSB_container{ margin-right: 10px; }
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail{
	background-color: #000; background-color: rgba(0,0,0,0);
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
}

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #000; background-color: rgba(0,0,0,0.75);
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
}

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.85); }

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.9); }

.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonUp{ background-position: -96px 0; }

.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonDown{ background-position: -96px -20px; }

.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -100px -40px; }

.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonRight{	background-position: -100px -56px; }
