
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,500,600&display=swap');

#hakuApp {
  font-family: 'Noto Serif TC', serif;
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  .rl{
    writing-mode: vertical-rl;
  }
  .upright{
    text-orientation: upright;
  }

  h3{
    line-height: 130%;
    font-size:40px;
    letter-spacing: 5px;
    @include break-point(tablet)  {
      letter-spacing: 6px;
      font-size: 45px;
    }
    @include break-point(desktop)  {
      letter-spacing: 8px;
      font-size: 50px;
    }
  }
  h4{
    line-height: 130%;
    font-size:24px;
    letter-spacing: 5px;
    @include break-point(tablet)  {
      letter-spacing: 6px;
      font-size: 32px;
    }
    @include break-point(desktop)  {
      letter-spacing: 8px;
      font-size: 38px;
    }
  }
  h5{
    line-height: 130%;
    font-size:24px;
    letter-spacing: 8px;
    @include break-point(tablet)  {
      letter-spacing: 6px;
      font-size: 32px;
    }
    @include break-point(desktop) {
      font-size: 38px;
      letter-spacing: 10px;
    }
  }
  h6{
    font-size: 13px;
    letter-spacing: 3px;
    @include break-point(tablet)  {
      letter-spacing: 6px;
      font-size: 15px;
    }
    @include break-point(desktop) {
      letter-spacing: 5px;
      font-size: 22px;
    }
  }
}
