.product {
  margin-top: 20px;
  margin-bottom: 20px;

  &__title {
    display: block;
    width: 100%;
    padding: 0 20px;
  }

  &__description {
    display: block;
    width: 100%;
    padding: 0 20px;
  }

  &__tab {
    // width: 100%;
    position: relative;
    display: block;
    width: calc(100%);

    &__item {
      position: relative;
      display: inline-block;
      width: 25%;
      padding: 5px;
      height: 140px;

      .tab__item__img {
        position: absolute;
        width: calc(100% - 10px);
        border-radius: 10px;
        height: 130px;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .tab__item__text {
        width: auto;
        position: absolute;
        bottom: 30px;
        left: 30px;
        color: #FFF;
        margin-bottom: 0;
      }

      &.active {
        .tab__item__img {
          border: 2px solid #FF0;
          width: calc(100% - 14px);
        }

        .tab__item__text {
          color: #FF0;
        }
      }
    }

    .slick-next,
    .slick-prev {
      width: 50px;
      height: 50px;
      z-index: 999;
    }

    .slick-next:before,
    .slick-prev:before {
      font-family: 'slick';
      font-size: 50px;
      line-height: 50px;
      opacity: 1;
      color: white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: rgba(0,0,0,0.5);
      border-radius: 50%;
    }
  }

  &__content {
    // width: 100%;
    position: relative;
    display: block;
    width: calc(100%);

    &__item {
      position: relative;
      display: inline-block;
      width: 25%;
      padding: 5px;
      height: auto;

      .content__item__title {}

      .content__item__img {
        position: relative;
        width: 100%;
        border-radius: 10px;
        height: 360px;
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;


      }

      .content__item__text {
        width: auto;
        position: relative;
        color: #000;
        margin-bottom: 20px;
      }
    }

  }
}
